

<%= search_form_for @q do |f| %>
  <%= f.label :entry_gteq, "Data Inicial:" %>
      <%= f.date_field :entry_gteq%>
      <%= f.label :entry_lteq_any, "Data Final:" %>
      <%= f.date_field :entry_lteq%>
          
      <%= f.submit %>
<% end %>

<h1>Controle da Portaria</h1>
<p>
<%= link_to 'Novo controle', new_lobby_path, class: 'btn btn-primary' %>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Documento</th>
      <th>Empresa</th>
      <th>Placa</th>
      <th>Entrada</th>
      <th>Saída</th>
      <th>Obs</th>
      <th><%= link_to lobbies_path(format: :pdf), class: 'btn btn-danger' do %>
        <i class='fa fa-file-pdf-o'>PDF</i>
      <% end %>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lobbies.each do |lobby| %>
      <tr>
        <td><%= lobby.name %></td>
        <td><%= lobby.document %></td>
        <td><%= lobby.company %></td>
        <td><%= lobby.board %></td>
        <td><%= lobby.entry.strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= lobby.exit.strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= lobby.obs %></td>
        <td><%= link_to 'Exibir', lobby, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Editar', edit_lobby_path(lobby), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Deletar', lobby, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @lobbies %>
<br>

